# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment
.env
.env.*

# Database
*.db

# IDE
.vscode/
.idea/

# Email Previews
email_previews/
backend/email_previews/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
frontend/tsconfig.tsbuildinfo
frontend/src/*.bak
backend/exports/*.pdf

backend/uploads/
